* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'CookieRun-Regular';
}

input {
  width: 80px;
  height: 43px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #fa574c;
}
